.result__content {
  margin: 0 auto;
  padding: 60px 15px;
  max-width: 1230px;
}
/* 正解or不正解ゾーン */
.result {
  text-align: center;
}
/* 正解 */
.result__text_correct {
  color: #ff0000;
}
/* 不正解 */
.result__text_incorrect {
  color: #0000ff;
}

.answer-table {
  border: 1px solid #ddd;
}
/* 表全体 */
.answer-table__inner {
  width: 100%;
}
/* ステータスコード・説明 */
.answer-table__header {
  padding: 15px;
  width: 20%;
  border-bottom: 1px solid #ddd;
  background-color: #eee;
  font-weight: bold;
}
/* 表の右側 */
.answer-table__text {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.answer-table__row:last-child .answer-table__header,
.answer-table__row:last-child .answer-table__text {
  border-bottom-width: 0;
}